.tribe-events-c-view-selector__filters{
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: 0.75rem;
}

.tribe-common-form-control-select {
    display: inline-flex;
    flex-direction: column;
    font-size: 0.8125rem;
}

.tribe-common-form-control__input {
    min-width: 8rem;
}

.tribe-select--searchable {
    min-width: 12rem;
}
